/* add font work sans from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans',sans-serif;
}
/* shared style */
.description{
    color:  #727272;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 400;
}
.primary-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
} 
/* header styles */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
      color:  #131313;
      font-family: Work Sans;
      font-size: 2.9rem;
      font-weight: 700;
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 1.9rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}
.banner-container{
   
    text-align: center;
    margin: 0px auto;
 }
.headline{
      color: #131313;
      text-align: center;
      margin: 0px auto;
      font-family: Work Sans;
      font-size: 4rem;
      font-weight: 700;
}

.primary-btn{
    color: #FFF;
    text-align: center;
    margin: 0px auto;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background: #FF900E;
    border: 0px;
    padding: 1.3rem 1.4rem;
    margin-bottom: 70px;
} 

.banner-container img{
    width: 100%;
}   

/* main section start */
/* teams section */
main{
    max-width: 1440px;
    margin: 100px auto;
}
.teams-container{
    gap: 80px;
    display: flex;
    align-items: center;

}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: .6px;
}
.teams-img-container img{
    width: 100%;
}
.teams-content-title{
    color: #727272;
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 500;
}
#title-style{
    color: #131313;
    font-weight: 700;
}
.title-style{
    color: #FF900E;
    font-weight: 700;
}
.teams-content-description{
    color: #727272);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}
/* teams section end  */
/* facts section start */
 .facts-card-container{
  display: flex;
  justify-content: space-around;
  margin-top: 6.2rem;

 }
 .facts-card-container .facts-card{
    border: 1px solid  #FF900E;
    border-radius: .5rem;
 }
 .common{
    text-align: center;
    padding: 0px 50px;

 }
 .common img{
    margin-top: 35px;
 }
 .facts-stats{
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px ;
 }
 .facts-title{
    margin-top: 8px;
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
 }











/* responsive start */

/* responsive for mobile  */
@media screen and (max-width:576px) {

    nav{
       flex-direction: column; 
    }
    header{
        padding: 20px;
    }
    .teams-container{
        flex-direction: column-reverse;
        padding: 0 rem auto;
        text-align: justify;
    }
    .teams-img-container{
        grid-template-columns: 1fr;
    }
}

/* responsive header section for tablet or medium device  */
@media screen and (min-width:577px) and (max-width:960px) {

    nav{
        flex-direction: column;
    }
    header{
        padding: 40px;
    }
    .teams-container{
        flex-direction: column-reverse;
        text-align: center;
    
    }
    .teams-img-container{
        margin: 0px;
        grid-template-columns: 1fr;
    }
}
/*responsive teams section end */